.searchWidget .content {
    margin:0px;
    padding:6px 1% 2px 1%;
    background:#186ADF;
    width:98%;
    float:left;
}
.searchWidget input {
    margin:0px 5px;
    width:400px;
    height:21px;
    float:left;
}
.searchWidget select {
    margin:0px 5px;
    height:27px;
    float:left;
}
.searchWidget a {
    margin-top:0px;
    background:#FDC401;
    color:#000;
}
/* aside */
.aside .searchWidget .content {
    background: none;
}
.aside .searchWidget input, .aside .searchWidget select {
    margin:4px 0px;
    width:90%;
    height:20px;
}
.aside .searchWidget a {
    margin-top:5px;
}
@media only screen and (max-width: 720px) {
    .searchWidget select {
        display:none;
        opacity: 0;
        visibility:hidden;
    }
    .searchWidget input {
        width:70%;
    }
}