#profileHeader {
    position:relative;
}
#bannerContainer {
    width:1100px;
    height:300px;
    display:block;
}
#bannerShadow {
    position:absolute;
    top:-12px;
    left:0px;
    width:100%;
    height:300px;
    display:block;
    box-shadow: inset 0 -100px 100px -100px #000000;
}
#bannerControls {
    position:absolute;
    top:150px;
    right:20px;
}
#photo {
    position:absolute;
    top:200px;
    left:60px;
    border:solid 4px #fff;
    box-shadow: 0px 0px 6px #666;
}
.profileLinks {
    width:100%;
    height:60px;
    display:block;
}
.profileLinks ul {
    margin-left:240px;
    float:left;
}
.profileLinks li {
    margin-left:0px;
    padding: 10px 30px;
    float:left;
    list-style:none;
}
.profileLinks li.active {
    padding:8px 12px;
    background:#0066FF;
    border-radius:4px;
}
.profileLinks li.active a {
    color:#fff;
}
.profileBox {
    margin-top:20px;
    padding:2px;
}
.profileBox li {
    list-style:none;
}
.profileBox i {
    margin: 0px 9px;
}
#profileSideBar .points {
    font-family: 'Lobster', cursive, Arial;
    font-size:48px;
    font-weight:bold;
}
#profileSideBar tr {
    background:#fff !important;
}
/**   profileContainer   **/
#profileSideBar .box, #profileContainer .box {
    margin:20px auto;
    padding:5px 10px;
    background:#fff;
    border:solid 1px #e0e0e0;
    border-radius:4px;
}
#profileContainer .box { float: left; }
/**  /profileContainer   **/
/** tabs **/
.necoTabs {
    margin:0px;
    padding:0px;
    list-style:none;
}
.necoTabs li {
    margin:0px;
    padding:5px 2%;
    width:96%;
    height:20px;
    display:block;
    cursor:pointer;
    border-left:solid 6px #fff;
    transition:all 0.3s ease-out;
}
.necoTabs li:hover {
    background:#f6f6f6;
    border-left-color:#06F;
}
.necoTabs i {
    margin:0px 5px;
    color:#06F;
}
/** /tabs **/