@charset"utf-8";
body {
    background:#fcfcfc;
}
html, body, #overheader, #header, #nav, #footer, #links, .nt-dd1, ul, li {
    margin: 0px;
}
html, body, #maincontent, #overheader, #header, #nav, #footer, #links, .nt-dd1, ul, li {
    padding: 0px;
}
* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 13px;
}
h1, h2, h3 {
    font-weight:bold;
}
h1 {
    font-size:32px;
    color:#000;
}
h2, h3 {
    font-size:26px;
    color:#333;
}
p {
    color:#333;
    text-align:justify;
}
form {
    padding: 0;
    margin: 0;
    display: inline;
}
input, textarea, select {
    margin: 3px 0px;
    padding:2px;
    background:#fff;
    border:solid 1px #ccc;
    box-shadow:inset 1px 1px 4px #ccc;
    border-radius:1px; 
}
input:focus, textarea:focus {
    background:#f3f3f3;
}
a, a:visited {
    color: #1B57A3;
    text-decoration: none;
    cursor: pointer;
}
a img {
    border: none;
}
a.button {
    color:#fff;
}
table {
    max-width:100%
}
.property {
    clear:both;
    position:relative;
    display:block;
}
.label {
    width:200px;
    height:30px;
    display:block;
    float:left;
}
input {
    width:220px;
    height:30px;
    display:block;
    float:left;
}
input[type=radio],input[type=checkbox] {
    width:10px;
    height:10px;
}
.button, .button, .submit, .submit:active, .submit, input[type=submit], input[type=button] {
    margin:3px;
    padding:5px;
    background:#1c1c1c;
    min-width:60px;
    width:auto;
    height:18px;
    float:left;
    border:#069;
    color:#FFF;
    text-align:center;
    text-decoration:none;
    cursor:pointer;
}
.button.blue, .button.white, .button.yellow {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:bold;
    padding: 10px 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0px solid #fff;
    cursor:pointer;
}
.button.blue {
    color: #ffffff;
    background: #1D79FB;
}
.button.blue:active {
    background: rgba(018,083,129,1);
}
.button.yellow {
    color: #222;
    background: #ffcf06; /* Old browsers */
    background: -moz-linear-gradient(top, #ffcf06 0%, #f1bb00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcf06), color-stop(100%,#f1bb00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffcf06 0%,#f1bb00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffcf06 0%,#f1bb00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffcf06 0%,#f1bb00 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffcf06 0%,#f1bb00 100%); /* W3C */
    -moz-box-shadow:0px 1px 2px rgba(000,000,000,0.5),inset 0px -2px 0px #BF9500;
    -webkit-box-shadow:0px 1px 2px rgba(000,000,000,0.5),inset 0px -2px 0px #BF9500;
    box-shadow:0px 1px 2px rgba(000,000,000,0.5),inset 0px -2px 0px #BF9500;
}
.button.yellow:active {
    background: #f1bb00;
}
.button.white {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
    color:#ccc;
}
.button.yellow {
    background: #ffcf06; /* Old browsers */
    background: -moz-linear-gradient(top, #ffcf06 0%, #f1bb00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcf06), color-stop(100%,#f1bb00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffcf06 0%,#f1bb00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffcf06 0%,#f1bb00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffcf06 0%,#f1bb00 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffcf06 0%,#f1bb00 100%); /* W3C */
}
fieldset {
    padding: 10px;
    padding-top:30px;
    margin: 30px 0;
    background: #ffffff;
    border: 1px solid #DDDDDD;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}
legend {
    position:absolute;
    margin-top:-48px;
    background: #fdffff;
    background: -moz-linear-gradient(top, #fdffff 0%, #e6f8fd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdffff), color-stop(100%, #e6f8fd));
    background: -webkit-linear-gradient(top, #fdffff 0%, #e6f8fd 100%);
    background: -o-linear-gradient(top, #fdffff 0%, #e6f8fd 100%);
    background: -ms-linear-gradient(top, #fdffff 0%, #e6f8fd 100%);
    background: linear-gradient(top, #fdffff 0%, #e6f8fd 100%);
    border: 1px solid #39F;
    padding: 10px;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}
table {
    width:100%;
}
th {
    padding:5px 10px;
    background:#2781D5;
    font: bold 12px Arial;
    color:#fff;
}
td {
    padding:5px 10px;
}
tr:nth-child(even) {
    background:#f0f0f0;
}
tr:nth-child(odd) {
    background:#fff;
}
tr:hover {
    background:#e0e0e0;
}
/* DROP DOWNS */
.nt-dd1, .nt-dd2, .nt-dd3, .nt-dd4 {
    position:relative;
    margin:0px;
    padding:0px;
}
.nt-dd4 li:hover ul,.nt-dd2 li:hover ul, .nt-dd3 li:hover ul { 
    display:block;
}
.nt-dd1 ul, .nt-dd2 ul, .nt-dd3 ul, .nt-dd4 ul {
    position:absolute;
    top:auto;
    left:40%;
    margin:0px;
    padding:0px;
    background:#fff;
    min-width:200px;
    width:auto;
    height:auto;
    list-style:none;
    display:none;
    z-index:999;
}
.nt-dd2 ul, .nt-dd3 ul {
    margin-top:-24px;
}
.nt-dd1 li, .nt-dd2 li, .nt-dd3 li {
    padding:3px 1%;
    width:98%;
}
.nt-dd1 li:last-child, .nt-dd2 li:last-child, .nt-dd3 li:last-child {
    border-bottom: none;
}
.nt-dd1 a, .nt-dd2 a, .nt-dd3 a {
    width:100%;
    text-decoration:none;
    display:block;
    line-height:24px;
}
.nt-dd1 span, .nt-dd2 span, .nt-dd3 span {
    margin-top:10px;
    width:10px;
    height:10px;
    display:block;
    float:right;
}
.nt-dd1 p {
    cursor: pointer;
    margin:0px;
    line-height:24px;
}
.nt-dd1 ul {
    margin-left:-20px;
}

.nt-dd2 ul {
    margin-left:160px;
}
.nt-dd3 ul {
    margin-left:-160px;
}
/* DROP DOWNS */
/** overheader **/
#overheader {
    background: #fff;
    border-bottom:solid 1px #eee;
    height:30px;
}
#overheader .links ul {
    margin:0px;
    padding: 0px;
    list-style:none;
}
#overheader .links li {
    position:relative;
    margin:0px 5px;
    padding: 5px 10px;
    float:left;
    z-index: 99;
}
#overheader .links > li > ul {
    top:auto;
    left:-7px;
    z-index: 100;
}
#overheader .links > li > a:hover {
    color: #186ADF;
}
#overheader .links li ul {
    position:absolute;
    background:#f9f9f9;
    top: 40px;
    left:-7px;
    height: 0px;
    opacity: 0;
    visibility:hidden;
    z-index: -100;
    transition: all 0.3s ease-out;
}
#overheader .links li:hover ul {
    opacity: 1;
    top: 30px;
    left:-12px;
    visibility:visible;
    height: auto;
}
#overheader .links li li {
    clear:both;
    width: 300px;
    min-height: 30px;
    height: auto;
    display:block;
    border-bottom:dashed 1px #eee;
    transition: all 0.3s ease-out;
}
#overheader .links li li:hover {
    background: #186ADF;
    color:#fff;
    border-bottom:dashed 1px #fff;
}
#overheader .links li li:hover a {
    color:#fff;
}
#overheader .links li li:last-child {
    border-bottom:none;
}
#overheader .links a {
    color:#333;
    font: normal 9px arial, sans-serif;
}
#overheader .button {
    padding: 3px 4px;
    font-size: 12px;
    border-radius:2px;
    background: #FF5649 !important;
}
/** /overheader **/
/* HEADER */
#header {
    margin: 0px auto;
    padding:5px;
    width:100%;
    height: auto;
    float:left;
}
.cartHeader {
    margin-top: 10px;
    padding: 5px 8px;
    background: #fff;
    border:solid 1px #eee;
    display: block;
    border-radius:4px;
    float:right;
    width:90%;
}
.cartHeader span {
    clear: both;
    display:block;
    font-size: 14px;
    color: #222;
}
.cartHeader b {
    clear: both;
    display:block;
    font-size: 16px;
    color: #666;
}
#logo {
    margin-top:5px;
    float:left;
}
#breadcrumbs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#breadcrumbs {
    margin:0px;
    padding:0px;
    right:24px;
    bottom:-12px;
    list-style:none;
}
#breadcrumbs li, #breadcrumbs a {
    position:relative;
    margin-top:5px;
    float:left;
    height:24px;
    line-height:24px;
    font-size:10px;
}
#breadcrumbs a {
    margin-left:12px;
    padding:0 10px 0 22px;
    background:#999;
    color:#fff;
    text-decoration:none;
}
#breadcrumbs a:after {
    content:"";
    float:left;
    position:absolute;
    top:0;
    right:-12px;
    width:0;
    height:0;
    border-color:transparent transparent transparent #999;
    border-style:solid;
    border-width:12px 0px 12px 12px;
}
#breadcrumbs a:before {
    content:"";
    float:left;
    position:absolute;
    top:0;
    left:0px;
    width:0;
    height:0;
    border-color:transparent transparent transparent #fff;
    border-style:solid;
    border-width:12px 0px 12px 12px;
}
#breadcrumbs a:hover{background:#F5692C;}	
#breadcrumbs a:hover:after{border-color:transparent transparent transparent #F5692C;}
/* HEADER */

/* NAV */
#nav {
    margin-bottom:20px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(99%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#ededed 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#ededed 99%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#ededed 99%); /* W3C */
    width:100%;
    height:30px;
    display:block;
    border:solid 2px #fafafa;
    box-shadow: 2px 2px 3px #ccc;
    border-radius:3px;
}
#nav ul {
    list-style:none;
}
#nav li {
    padding:0px 15px;
    float:left;
    width:auto;
    height:30px;
    display:block;
    border-right:solid 1px #E5E5E5;
}
#nav a, #nav a:visited {
    padding:5px 15px;
    font:normal 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-decoration:none;
    color:#333;
    height:20px;
    display:block;
}
#nav li:hover {
    background:#666;
}
#nav li:hover a {
    color:#fff;
}
#nav li.selected {
    background:#2781D5;
}
#nav li.selected a {
    color:#fff;
}
/* NAV */

/* FEATURED */
#featured {
    margin:10px auto;
}
/* FEATURED */
/* CONTENT */
#maincontent {
    margin:0px auto;
}
/* CONTENT */

/* SORTS */
.sort input {
    margin-right:10px;
    width:140px;
    height:16px;
    float:left;
}
.sort select {
    margin-top:5px !important;
    margin-right:10px !important;
}
/* SORTS */
/* COLUMNS */
#column_left {
    float: left;
    clear: left;
}
#column_right {
    float: right;
    clear: right;
}
#column_left ul, #column_right ul, .widgets {
    list-style:none;
}
#column_left .box, #column_right .box {
    margin:20px auto;
}
#column_left .box .header, #column_right .box .header {
    margin:10px auto;
    width:100%;
    height:20px;
    display:block;
    font:bold 14px Arial, Helvetica, sans-serif;
}
#column_left h1, #column_right h1, .aside h1 {
    font:bold 14px Arial, Helvetica, sans-serif;
    text-decoration:none;
}
/* COLUMNS */
.delete-product {
    background:url(../images/delete.png) transparent left top no-repeat;
    width:16px;
    height: 16px;
    display:block;
}
.update-product {
    background:url(../images/refresh.png) transparent left top no-repeat;
    width:16px;
    height: 16px;
    display:block;
    float:left;
}
.cart {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #EEEEEE;
    margin-bottom: 10px;
}
.cartWidget .cartWidgetTotal {
    margin-top:5px;
    padding: 0 3px 0 3px;
    font-size: 0.9em;
    color: #222;
    float:left;
}
.cartWidget .cartRemove {
    margin-top: 3px;
    background: url(../images/list_remove_btn.gif) no-repeat left center transparent;
    padding-right:10px;
    cursor:pointer;
}
.cartWidget .cartRemoveLoading {
    margin-top: 3px;
    background: url(../images/ajax_load.gif) no-repeat transparent;
    padding-right:10px;
}
.cartWidget .cartLinks {
    padding-top:5px;
    text-align:center;
    clear:both;
}
.cart thead {
    background:#ccc
}
.cart th {
    text-align:left
}
.guide {
    margin-bottom: 10px;
    padding: 10px; 
    background: #F7F7F7;
    display:none;
    border: 1px solid #DDDDDD;
}
/* inviteFriendsWidget */
.inviteFriendsWidget .cotnent {
    text-align:center;
}
.inviteFriendsWidget .googleInvite,.inviteFriendsWidget .liveInvite {
    margin:5px;
    padding:4px 5px;
    font:bold 11px Arial;
    color:#fff;
    display:block;
    text-align:center;
    text-decoration:none;
}
.inviteFriendsWidget .googleInvite {
    background:#DD4C39;
}
.inviteFriendsWidget .liveInvite {
    background:#4286F4;
}
/* /inviteFriendsWidget */
/* social buttons */
.socialButton {
    clear:both;
    margin:5px;
    padding-top:10px;
    padding-left:60px;
    background:url(../images/social_buttons.png) transparent left top no-repeat;
    width:190px;
    height:40px;
    display:block;
    font:normal 14px Arial;
    color:#fff;
    text-decoration:none;
}
.socialButton b {
    font-size:16px;
}
.socialButton.facebookButton {
    background-position:left -2px;
}
.socialButton.twitterButton {
    background-position:left -65px;
}
.socialButton.googleButton {
    background-position:left -128px;
    color:#fff !important;
}
.socialButton.liveButton {
    background-position:left -190px;
    color:#000;
}
.socialButton.meliButton {
    background-position:left -252px;
    color:#000;
}
.socialButton.facebookButton:active {
    background-position:-263px -2px;
}
.socialButton.twitterButton:active {
    background-position:-263px -65px;
}
.socialButton.googleButton:active {
    background-position:-263px -128px;
    color:#fff !important;
}
.socialButton.liveButton:active {
    background-position:-263px -190px;
}
.socialButton.meliButton:active {
    background-position:-263px -252px;
}
.socialSmallButton {
    clear:both;
    margin:5px;
    padding-top:10px;
    padding-left:40px;
    background:url(../images/social_small_buttons.png) transparent left top no-repeat;
    width:145px;
    height:25px;
    display:block;
    font:normal 10px Arial;
    color:#fff;
    text-decoration:none;
}
.socialSmallButton b {
    font-size:12px;
}
.socialSmallButton.facebookButton {
    background-position:left -2px;
}
.socialSmallButton.twitterButton {
    background-position:left -49px;
}
.socialSmallButton.googleButton {
    background-position:left -95px;
    color:#fff !important;
}
.socialSmallButton.liveButton {
    background-position:left -141px;
    color:#000;
}
.socialSmallButton.meliButton {
    background-position:left -187px;
    color:#000;
}
.socialSmallButton.facebookButton:active {
    background-position:-196px -2px;
}
.socialSmallButton.twitterButton:active {
    background-position:-196px -49px;
}
.socialSmallButton.googleButton:active {
    background-position:-196px -95px;
}
.socialSmallButton.liveButton:active {
    background-position:-196px -141px;
}
.socialSmallButton.meliButton:active {
    background-position:-196px -187px;
}
/* /social buttons */

/** boxes **/
.boxIcon {
    padding:0px;
    background: #fff;
    border-radius:4px;
    border: solid 1px #eee;
    width: 100%;
    height: auto;
    display:block;
    overflow: hidden;
    text-align:center;
}
.boxIcon i {
    margin-bottom:10px;
    clear:both;
    width: 100%;
    height: auto;
    display:block;
    font-size: 3rem;
}
.boxIcon b {
    clear:both;
    width: 100%;
    height: auto;
    display:block;
    font:bold 18px arial, sans-serif;
}
.boxIcon .title {
    clear:both;
    margin: 10px 0px 0px 0px;
    padding:6px 8px;
    background: #333;
    width: 100%;
    height: 26px;
    display:block;
    border-radius:0px 0px 4px 4px;
    font:bold 14px arial, sans-serif;
    color: #ccc;
}
/** /boxes **/

/** product list **/
.grid_view, .grid_view ul {
    width:100%;
}
.grid_view ul {
    list-style: none;
}
.grid_view li {
    position: relative;
    margin:10px 2%;
    padding:10px 1%;
    width:23%;
    height:400px;
    float:left;
    text-align:center;
}
.grid_view .name {
    clear:both;
    display:block;
    font:bold 14px Verdana, Geneva, sans-serif;
    text-decoration:none;
}
.grid_view .rating {

}
.grid_view .model {
    font:normal 11px Verdana, Geneva, sans-serif;
    color:#ccc;
    text-align:center;
}
.grid_view .overview {
    display:none;
}
.grid_view .description {
    display:none;
}
.grid_view .price {
    font:bold 14px Verdana, Geneva, sans-serif;
    color:#000;
    text-align:center;
}
.grid_view .old_price {
    margin:0px;
    font:normal 10px Verdana;
    color:#ccc;
    text-decoration:line-through;
    text-align:center;
}
.grid_view .special {
    margin:0px;
    font:bold 14px Verdana;
    color:#FFBB4E;
    text-shadow:1px 1px 0px #000;
    text-align:center;
}
.button_add_small, .button_see_small {
    margin:auto 5px;
    padding:5px;
    text-decoration:none;
    color:#fff;
    display:block;
    float:left;
}
.button_see_small {
    background:#2781D5;
}
.button_add_small {
    background:#222;
}
.grid_view .oferta, .grid_view .descuento, .grid_view .nuevo {
    position:absolute;
    top:0px;
    right:-1px;
    width:50px;
    height:50px;
    display:block;
    z-index:99;
}
.grid_view li .quick_view_button {
    position:absolute;
    top:90px;
    left:30%;
    z-index:99;
}
.list_view, .list_view ul {
    width:100%;
}
.list_view ul {
    list-style: none;
}
.list_view li {
    position: relative;
    clear:both;
    margin:10px 0px;
    padding:10px 2%;
    width:96%;
    float:left;
}
.list_view .product_info {
    float:left;
}
.list_view .name {
    clear:both;
    display:block;
    font:bold 14px Verdana, Geneva, sans-serif;
    text-decoration:none;
}
.list_view .rating {
    position:relative;
    left:10px;
}
.list_view .model {
    font:normal 11px Verdana, Geneva, sans-serif;
    color:#ccc;
}
.list_view .overview {
    display:block;
}
.list_view .description {
    display:none;
}
.list_view .price {
    font:bold 14px Verdana, Geneva, sans-serif;
    color:#000;
    text-align:center;
}
.list_view .old_price {
    margin:0px;
    font:normal 10px Verdana;
    color:#ccc;
    text-decoration:line-through;
    text-align:center;
}
.list_view .special {
    margin:0px;
    font:bold 14px Verdana;
    color:#FFBB4E;
    text-shadow:1px 1px 0px #000;
    text-align:center;
}
.list_view .thumb {
    margin-right:10px;
    float:left;
}
.list_view .product_info {
    margin-left: 10px;
}
.list_view .button_add_small, .list_view .button_see_small {
    margin:auto 5px;
    padding:5px;
    text-decoration:none;
    color:#fff;
    display:block;
    float:left;
}
.list_view .button_see_small {
    background:#2781D5;
}
.list_view .button_add_small {
    background:#222;
}
.list_view .oferta, .list_view .descuento, .list_view .nuevo {
    position:absolute;
    top:0px;
    right:-1px;
    width:50px;
    height:50px;
    display:block;
    z-index:99;
}
.list_view li:nth-child(even) {
    background:#f0f0f0;
}
.list_view li:nth-child(odd) {
    background:#fff;
}
.list_view li .quick_view_button {
    position:absolute;
    top:90px;
    left:10%;
    z-index:99;
}
li .quick_view_button {
    padding:10px;
    background:rgba(255,255,255,0.8);
    border-radius:2px;
    color:#666;
    font:bold 11px Arial, sans-serif;
    text-decoration:none;
    text-transform:uppercase;
    height:15px;
    opacity:0;
    box-shadow:0px 0px 4px #999;
    transition:all 0.5s ease-out;
    z-index:99;
}
.list_view li:hover .quick_view_button, .grid_view li:hover .quick_view_button {
    opacity:1;
}
.view_style {
    margin:5px;
    display:inline-block;
}
.view_style i {
    color:#222;
}
/** /product list **/
/** category_view **/
.category_view li {
    width:33%;
    float:left;
    transition: all 0.5s ease-out;
}
.category_view li:hover {
    background:#307FDE;
    border-radius:3px;
}
.category_view li a {
    padding:5px;
    width:100%;
    display:block;
    text-decoration:none;
}
.category_view li:hover a {
    color:#fff;
}
/** /category_view **/
/** pagination **/
.pagination {
    display: inline-block;
    width: 100%;
    background: #F8F8F8;
    margin-bottom: 10px;
}
.pagination .links, .pagination .results {
    padding: 7px;
}
.pagination .links {
    float: left;
}
.pagination .links a {
    border: 1px solid #CCCCCC;
    padding: 4px 7px;
    text-decoration: none;
    color: #000000;
}
.pagination .links b {
    border: 1px solid #CCCCCC;
    padding: 4px 7px;
    text-decoration: none;
    color: #000000;
    background: #FFFFFF;
}
.pagination .results {
    float: right;
}
/** /pagination **/
/* REVIEWS */
.star_review, .star_clicked{
    margin:0 1px;
    background-image:url(../images/star_review.png);
    background-repeat:no-repeat;
    width:16px;
    height:16px;
    display:block;
    float:left;
}
.star_review {
    background-position:right top;
}
.star_clicked {
    background-position:left top;
}
/* COMMENTS */
#review ul {
    list-style:none;
}
.review-reply, .review-delete, .review-follow {
    margin: 10px 10px 5px 10px;
    padding-left: 20px;
    width:auto;
    height:16px;
    display:block;
    font:normal 10px Verdana;
    text-decoration:none;
    color:#333;
    float:left;
}
.review-reply:hover, .review-delete:hover, .review-follow:hover {
    color:#000;
}
.review-reply {
    background: url(../images/review_repply.png) transparent left top no-repeat;
}
.review-follow {
    background: url(../images/review_follow.png) transparent left top no-repeat;
}
.review-delete {
    background: url(../images/review_delete.png) transparent left top no-repeat;
}
.review-like, .review-dislike, .dislikes, .likes {
    margin: 5px;
    width:24px;
    height:24px;
    display:block;
    float:right;
}
.likes {
    margin-top:5px;
    color: #7CB63F;
}
.dislikes {
    margin-top:5px;
    color: #900;
}
.review-like {
    background: url(../images/like.png) transparent left top no-repeat;
}
.review-dislike {
    background: url(../images/dislike.png) transparent left top no-repeat;
}
#review li {
    margin:5px auto;
    padding:10px;
    background:#f0f0f0;
    width:auto;
    height:auto;
    display:block;
    border-radius: 4px;
}
#review li li {
    margin-top:10px;
    margin-left:10%;
    padding:2px;
    background:#e0e0e0;
    width:85%;
    height:auto;
    display:block;
    border-radius: 4px;
}
.review-buttons {
    padding:2px;
    background: #fbfbfb;
    border-radius: 2px;
}
/* HOVER EFFECT */
#breadcrumb {
    float: left;
    padding-top: 7px;
    padding-bottom: 11px;
    height: 13px;
    margin-bottom: 10px;
    color: #000000;
}
.info {
    padding: 5px 0px;
    margin-bottom: 10px;
    background: #c8eefb;
    border: 1px solid #7BB4ED;
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}
.success {
    padding: 5px 0px;
    margin-bottom: 10px;
    background: #E4F1C9;
    border: 1px solid #A5BD71;
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}
.warning {
    padding: 5px 0px;
    margin-bottom: 10px;
    background: #FFDFE0;
    border: 1px solid #FF9999;
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}
.required {
    color: #FF0000;
    font-weight: bold;
}
.error {
    padding:7px;
    display:block;
    color: #900;
}
/* sorts */
.sort {
    margin:5px 0px;
    padding:1px 5px;
    background: #f4f4f4; /* Old browsers */
    background: -moz-linear-gradient(top, #f4f4f4 0%, #ebebeb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f4f4 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f4f4 0%,#ebebeb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f4f4f4 0%,#ebebeb 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f4f4f4 0%,#ebebeb 100%); /* W3C */
    border:solid 1px #DADADA;
    border-radius:4px;
    box-shadow:2px 2px 5px #ccc;
    height: 30px;
    width: 100%;
}
.sort p, .sort select {
    margin:4px 4px 0 4px;
    float:left;
}
.sort a {
    float:right
}
.sort select {
    font-size: 11px;
    margin: 0;
    padding: 0;
}
.pagination {
    display: inline-block;
    width: 100%;
    background: #F8F8F8;
    margin-bottom: 10px;
}
.pagination .links, .pagination .results {
    padding: 7px;
}
.pagination .links {
    float: left;
}
.pagination .links a {
    border: 1px solid #ccc;
    padding: 4px 7px;
    text-decoration: none;
    color: #000000;
}
.pagination .links b {
    border: 1px solid #ccc;
    padding: 4px 7px;
    text-decoration: none;
    color: #000000;
    background: #fff;
}
.pagination .results {
    float: right;
}
#footer {
    margin:20px auto;
}
#footer > ul  {
    margin:0px;
    padding:0px;
    list-style:none;
}
#footer > ul > li {
    margin:0px;
    padding:0px 1%;
    width: 23%;
    float:left;
}
#footer ul ul {list-style:square;margin:0px;padding:10px}
#footer ul ul li, #footer a {color:#666 !important;text-decoration:none;}
#footer ul ul li:hover a {color:#222 !important;}
#footer ul ul li {
    line-height:24px;
    border-bottom:dashed 1px #ccc;
}
#footer h1, #footer h2 {border-bottom:solid 1px #666;color: #666;width:100%;}
#footer p {
    text-align:center;
}
.preloader { background:url(../../../images/data/preloader.gif) center center no-repeat #ffffff;  }
/* neco-carousel */
.neco-carousel {
    position: relative;
    padding: 15px;
    margin-top:20px;
    background:#fff;
    border:solid 1px #ccc;
    text-align: center;
    min-height:200px;
    height:auto;
}
.neco-carousel ul {
    padding-left: 0px;
}
.caroufredsel_wrapper {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
}
.neco-carousel li {
    margin: 0px 7px;
    padding:0px;
    min-width:110px;
    width:auto;
    min-height:200px;
    height:auto;
    display: block;
    text-align:center;
    cursor:pointer;
    float: left;
}
.neco-carousel li:hover {background: #f3f3f3}
.neco-carousel a {color: #333}
.neco-carousel b {font:normal 11px Arial;margin-left:10px}
.neco-carousel-prev, .neco-carousel-next, .neco-carousel-pager a {
    background: url(../images/neco-carousel-sprite.png) no-repeat transparent;
}
.neco-carousel-prev, .neco-carousel-next {
    width: 26px;
    height: 26px;
    display: block;
    position: absolute;
    top: 179px;
}
.neco-carousel-prev {left: 3px;background-position: 0px 0px;}
.neco-carousel-prev:hover {background-position: 0px -26px; }
.neco-carousel-next {right: 3px;background-position: -29px 0px; }
.neco-carousel-next:hover {background-position: -29px -26px;}
.neco-carousel-prev.disabled, a.next.disabled {
    cursor: default;
}	 
.neco-carousel-prev span, .neco-carousel-next span {display: none}
.neco-carousel-pager {text-align: center}
.neco-carousel-pager a {
    margin: 0px 5px 0px 0px;
    background-position: -59px 0px;
    width: 10px;
    height: 10px;
    display: inline-block;
}
.neco-carousel-pager a.selected {
    background: #333;
    border-radius:10px;
    cursor: default;
}
.neco-carousel-pager a span {
    display: none;
}
/* neco-carousel */
/** neco-lightbox **/
.lightboxWidget {
    position:fixed;
    top:0px;
    left:0px;
    margin:0px;
    padding:0px;
    background:rgba(0,0,0,0.3);
    z-index:8010;
    width:100%;
    height:100%;
    display:block;
}
.lightboxWidget span {
    position:fixed;
    padding:10px;
    background:#fff;
    box-shadow:0px 0px 12px #222;
    border-radius: 4px;
    min-height:100px;
    min-width:300px;
    height:auto;
    width:auto;
    display:block;
    z-index:8998;
    overflow:hidden;
}
.lightboxWidget .close {
    position:absolute;
    top:auto;
    right:auto;
    padding:5px 10px;
    background:#000;
    box-shadow:0px 0px 4px #222;
    border-radius: 20px;
    font: bold 16px Arial;
    color:#fff;
    border:solid 3px #fff;
    display:block;
    z-index:9999;
    cursor:pointer;
}
/** neco-lightbox **/
/** vertical banner **/
.vertical-banner {
    margin:0px;
    padding:0px;
    list-style: none;
}
.vertical-banner li {
    margin:4px auto;
    padding:2px;
}
/** vertical banner **/
/** horizontal banner **/
.horizontal-banner {
    margin:0px;
    padding:0px;
    list-style: none;
}
.horizontal-banner li {
    margin:5px;
    padding:2px;
    float:left;
}
/** horizontal banner **/
/** tags **/
span.tag {
    margin:2px;
    padding:4px;
    font:bold 10px verdana;
    text-align:center;
    display:block;
    border-radius:2px;
}
span.green {
    background: #d2ff52; /* Old browsers */
    color:#69912D;
}
span.blue {
    background: #7db9e8; /* Old browsers */
    color: #2c539e;
}
span.red {
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C */
    color:#4C0101;
}
span.orange {
    background: #ffa114; /* Old browsers */
    background: -moz-linear-gradient(top, #ffa114 0%, #f2470e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa114), color-stop(100%,#f2470e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffa114 0%,#f2470e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffa114 0%,#f2470e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffa114 0%,#f2470e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffa114 0%,#f2470e 100%); /* W3C */
    color:#6B2606;
}
span.black {
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
    color:#ccc;
}
span.white {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
    color:#ccc;
}
/** /tags **/



@media only screen and (max-width: 720px) {
    #footer > ul > li {
        width: 95%;
    }
}